.wrapper{
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
}

body {
  background-color: #4d0000;
}

h1 {
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
}

.library li {
  list-style-type: none;
  margin-bottom: 3px;
}

.library div {
  display: block;
  margin: 30px 10%;
  border-bottom: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #444444;
  border-style: solid;
}

.library div img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
